{% extends 'base.html.twig' %}

{% block body %}
</br>
<div style="display: flex;align-items:center;justify-content: center ; margin-block-start: 100px;">
<style>
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
   <div class="row">
<div class="bg-light rounded h-100 p-4">
                
                    <h5 class=class="mb-88">Modifier un event </h5>

            <!-- General Form Elements -->
            {{ form_start(form, { attr: { novalidate: 'novalidate' } }) }}
                <label for="inputText" class="col-sm-8col-form-label">Nom event</label>
                <div class="col-sm-50">
                    {{ form_widget(form.nom, {'attr':{'class':'form-control'}}) }}
                </div>
                {{ form_errors(form.nom, {'attr': {'class': 'text-danger'}}) }}
                <label for="inputText" class="col-sm-10 col-form-label">type</label>
                <div class="col-sm-50" >
                    {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
                </div>
                {{ form_errors(form.type, {'attr': {'class': 'text-danger'}}) }}
                <label for="inputText" class="col-sm-10 col-form-label">description</label>
                <div class="col-sm-50" >
                    {{ form_widget(form.description, {'attr': {'class': 'form-control', 'style': 'block-size: 150px;'}}) }}
                </div>
                {{ form_errors(form.description, {'attr': {'class': 'text-danger'}}) }}
                <label for="inputText" class="col-sm-8 col-form-label">categorie</label>
                <div class="col-sm-50">
                    {{ form_widget(form.Categories_id, {'attr': {'class': 'form-control'}}) }}
                </div>
                {{ form_errors(form.Categories_id, {'attr': {'class': 'text-danger'}}) }}
                <div class="col-sm-50">
                    {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
                </div>
                {{ form_errors(form.date, {'attr': {'class': 'text-danger'}}) }}

                    <br/>

                <div class="col-sm-50" style="display: flex;align-items: center;justify-content: center">

                    <button type="submit" class="btn btn-success">Modifier</button>
                </div>

            {{ form_end(form) }}
        </div>
            </div>

        </div>

    </div>
     </div>
{% endblock %}