
{% block body %}
</br>
    <div style="display: flex;align-items:center;justify-content: center">
        <div class="row">
<div class="bg-light rounded h-400 p-4">
                
                    <h5 class=class="mb-4">Modifier une catégorie</h5>

                    <!-- General Form Elements -->
                    {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
                        <label for="inputText" class="col-sm-8 col-form-label">Nom categorie</label>
                        <div class="col-sm-90">
                            {{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}

                        </div>
                    {{ form_errors(form.nom,{'attr':{'class':'text-danger'}}) }}



                    <label for="inputText" class="col-sm-10 col-form-label">description</label>
                        <div class="col-sm-50" >
                            {{ form_widget(form.description,{'attr': {'class': 'form-control',  'style': 'block-size: 150px;'}}) }}

                    </div>
                    {{ form_errors(form.description,{'attr':{'class':'text-danger'}}) }}

                    <label for="inputText" class="col-sm-8 col-form-label">Photo</label>
                        <div class="col-sm-50">
                            {{ form_widget(form.photo,{'attr':{'class':'form-control'}}) }}
                        </div>
                    {{ form_errors(form.photo,{'attr':{'class':'text-danger'}}) }}

                    <br/>
                    <div class="col-sm-50" style="display: flex;align-items: center;justify-content: center">

                        
                       
                    <button type="submit" class="btn btn-primary">Modifier</button>
                    </div>

                    {{ form_end(form) }}

                </div>
            </div>

        </div>

    </div>
     </div>


{% endblock %}               