{% extends 'basepage.html.twig' %}

{% block title %}
	Offres Ab
{% endblock %}
{% block titre %}
	Offres Ab
{% endblock %}
{% block breadcrumbs %}
	Offres Ab
{% endblock %}

{% block body %}
	<div style="display: block;">
		<div style="display: flex;
									  flex-wrap: wrap;
									  justify-content: center;
									  align-items: center;" class="fadeInUp" data-wow-delay="0.1s">
			<div style="width: 100%;
															  display: flex;
															  justify-content: flex-start;
															  flex-wrap: wrap;">
				{% for offre2 in offre2s %}
					<div style="width: calc(25% - 20px);
																		  margin-right: 20px;
																		  margin-bottom: 20px;
																		  padding: 20px;
																		  background-color: #fff;
																		  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
																		  border-radius: 4px;" class="project-item mb-5">
						<div class="car-wrap rounded ftco-animate"></div>
						<div class="text">
							<h2 class="mb-0">
								<a href="car-single.html">{{ offre2.nom }}</a>
							</h2>
							<div style="display: block;">
								<div>
									<span style="margin-left: 0; margin-right: auto;" class="cat">-{{ offre2.reduction }}
										%</span>
								</div>
								<div>
									<span class="cat">{{ offre2.description }}</span>
								</div>
								<div>
									<span class="cat">{{ offre2.type }}</span>
								</div>
								<div>
									<p class="price ml-auto">{{ offre2.dated ? offre2.dated|date('Y-m-d') : '' }}
										-
										{{ offre2.dated ? offre2.dated|date('Y-m-d') : '' }}</p>
								</div>
							</div>
							{# <div style="margin-right: 0; margin-left: auto;">
																						</div> #}
						</div>
						<p class="d-flex mb-0 d-block">
							<a href="{{ path('app_abonnement_new', {'id': offre2.id}) }}" class="btn btn-primary py-2 mr-1">Abonner</a>
							<a href="{{ path('app_offre2_show', {'id': offre2.id}) }}" class="btn btn-secondary py-2 ml-1">Details</a>
						</p>
					</div>
				{% else %}
					<div style="margin-top: 50px; display: flex;">
						<p>No offers available at the moment</p>
					</div>
				{% endfor %}
			</div>
	
	{{ knp_pagination_render(offre2s) }}
		</div>
	</div>
{% endblock %}
