{% extends 'basepage.html.twig' %}

{% block title %}ReservationCovoiturage{% endblock %}
{% block titre %}ReservationCovoiturage{% endblock %}
{% block breadcrumbs %}ReservationCovoiturage{% endblock %}

{% block body %}
    <h1>ReservationCovoiturage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ reservation_covoiturage.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ reservation_covoiturage.prenom }}</td>
            </tr>
            <tr>
                <th>PntRencontre</th>
                <td>{{ reservation_covoiturage.pntRencontre }}</td>
            </tr>
            <tr>
                <th>Distination</th>
                <td>{{ reservation_covoiturage.distination }}</td>
            </tr>
            <tr>
                <th>NbrPlace</th>
                <td>{{ reservation_covoiturage.nbrPlace }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ reservation_covoiturage.date ? reservation_covoiturage.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservation_covoiturage_index') }}">back to list</a>

    <a href="{{ path('app_reservation_covoiturage_edit', {'idReservation': reservation_covoiturage.idReservation}) }}">edit</a>

    {{ include('reservation_covoiturage/_delete_form.html.twig') }}
{% endblock %}
