<div class="bg-light rounded h-100 p-4">
	{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}

	{{form_label(form.nom,'Nom : ',{'attr':{'class':'form-label'}})}}
	<div class="form-floating mb-3">
		{{form_widget(form.nom,{'attr':{'class':'form-control'}})}}
		<div style="color: red; list-style: none;">
			{{ form_errors(form.nom,{'attr':{'class':'form-control'}}) }}
		</div>
	</div>

	{{form_label(form.prenom,'Prenom : ',{'attr':{'class':'form-label'}})}}
	<div class="form-floating mb-3">
		{{form_widget(form.prenom,{'attr':{'class':'form-control'}})}}
		<div style="color: red; list-style: none;">
			{{ form_errors(form.prenom,{'attr':{'class':'form-control'}}) }}
		</div>
	</div>

	{{form_label(form.pntRencontre,'Point Rencontre : ',{'attr':{'class':'form-label'}})}}
	<div class="form-floating mb-3">
		{{form_widget(form.pntRencontre,{'attr':{'class':'form-control'}})}}
		<div style="color: red; list-style: none;">
			{{ form_errors(form.pntRencontre,{'attr':{'class':'form-control'}}) }}
		</div>
	</div>

	{{form_label(form.date,'date : ',{'attr':{'class':'form-label'}})}}
	<div class="form-floating mb-3">
		{{form_widget(form.date,{'attr':{'class':'form-control'}})}}
		<div style="color: red; list-style: none;">
			{{ form_errors(form.date,{'attr':{'class':'form-control'}}) }}
		</div>
	</div>
	{{form_label(form.distination,'Destination : ',{'attr':{'class':'form-label'}})}}
	<div class="form-floating mb-3">
		{{form_widget(form.distination,{'attr':{'class':'form-control'}})}}
		<div style="color: red; list-style: none;">
			{{ form_errors(form.distination,{'attr':{'class':'form-control'}}) }}
		</div>
	</div>
	{{form_label(form.nbrPlace,'Nbr place : ',{'attr':{'class':'form-label'}})}}
	<div class="form-floating mb-3">
		{{form_widget(form.nbrPlace,{'attr':{'class':'form-control'}})}}
		<div style="color: red;">
			{{ form_errors(form.nbrPlace,{'attr':{'class':'form-control'}}) }}
		</div>
	</div>
	<button class="btn">{{ button_label|default('Save') }}</button>
	{{ form_end(form) }}
</div>