{% extends 'basepage.html.twig' %}

{% block title %}Avis sur Offre
{% endblock %}
{% block titre %}Avis sur Offre
{% endblock %}
{% block breadcrumbs %}Avis sur Offre
{% endblock %}

{% block body %}
	<div style="margin-top: 50px; display: block;" class="row">
		<h2>Ajouter Avis</h2>
		{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}

		<div class="form-group">
			{{form_label(form.rate,'Rate : ',{'attr':{'class':'form-label'}})}}
			{{form_widget(form.rate,{'attr':{'class':'form-control'}})}}
			<div style="color: red; list-style: none;">
				{{ form_errors(form.rate,{'attr':{'class':'form-control'}}) }}
			</div>
		</div>


		<div class="form-group">
			{{form_label(form.descriptionAvis,'Message : ',{'attr':{'class':'form-label'}})}}
			{{form_widget(form.descriptionAvis,{'attr':{'class':'form-control'}})}}
			<div style="color: red; list-style: none;">
				{{ form_errors(form.descriptionAvis,{'attr':{'class':'form-control'}}) }}
			</div>
		</div>

		<button type="submit" style="background-color: #01d28e!important; border-color: #01d28e!important;" class="btn btn-primary py-3 px-5">{{ button_label|default('Rate') }}</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
